.order-container{
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       gap: 1rem;
       width: 80vmin;
       margin: 2rem auto;
       padding: 1rem;
       border-radius: 12px;
       background: linear-gradient(to top, var(--alpha-caramel), var(--walnut-brown));
       box-shadow: inset 0 0 10px var(--walnut-brown);  
       color: #eee;
       text-shadow: 1px 1px 5px #0006;
}
    
.order-container .order__data{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    max-width: 80vmin;
    gap: .5rem;

}

.whiteshadow{
    text-shadow: 1px 1px 5px #eeea;
}


.order-container .order__list{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    margin-top: 2rem;
    padding: 0;
}

.order__list__total{
    margin-top: 2rem;
}


.order-container .order__list .order__list__item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.2rem;
    width: 100%;
}

.order-container .order__list .order__list__header{
    font-weight: bolder;
    font-size: 1.3rem;
}

.order-container .order__list .order__list__total h3{
    font-weight: bolder;
    font-size: 1.5rem;
   
}

.order-container > p{
    width: 50vmin;
    font-size: 1.3rem;
}

.order-container .item-comment{
    font-size: 1rem;
    width: 60vmin;
    text-align: left;
    color: #ccc;
}

.order-container h4{
    font-size: 1.2rem;
}

.order-container img{
    width: 6rem;
    filter: drop-shadow(0 0 7px #111a);
}


@media screen and (max-width: 600px) {
    .order-container{
        width: 100vmin;
        border-radius: 0;
        box-shadow: 0 0 7px var(--walnut-brown); 
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
    }
    

    .order-container .order__list .order__list__item{
        justify-content: space-between;
        width: 90vmin;
    }


    .order-container .order__data{
        align-items: flex-start;
        text-align: left;
    }

    .order-container > p{
        width: 90vmin;
    }

    .order-container img{
        width: 4rem;
    }
}