@import url('../../root.css');

.wspWidget{
    z-index: 1;
    position: fixed;
    bottom: 1rem;
    right: 1rem;

}
.wspWidget a img{
    width: 2.5rem;
    filter: drop-shadow(0 0  5px #fff3);
}
.wspWidget a img:hover{
    opacity: .8;
    transition: all .2s;
}

@media screen and (max-width: 600px) {
    .wspWidget a img{
        width: 42px;
    }
}