@import url('../../root.css');

.cartWidget-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    margin: 2rem;
    border-radius: 1rem;
}

.cartWidget-container h3{
    color: #ddd;
    font-size: 1rem;
}

.cart-img{
    width: 2rem;
    filter: invert(1) sepia(1);
}
.cart-img:active{
    transform: scale(.9);
}
.cartWidget-container:hover{
    cursor: pointer;
    filter: drop-shadow(0 0 7px var(--caramel));
}
.cart-btn{
    background-color: transparent;
    border:none;
}