@import url('../../root.css');

.cartWidget-container{
    position: absolute;
    margin: 1.5rem;
    border-radius: 1rem;
    right: 10%;
    top: .5rem;

}

.cartWidget-container h3{
    color: #ddd;
    font-size: 1rem;
}
.cartWidget-container .number{
    background-color: var(--walnut-brown);
    position: absolute;
    border-radius: 100%;
    padding: 2px;
    width: 1.2rem;
    height: 1.2rem;
    top:0;
    right: -.3rem;

}

.cart-img{
    width: 2rem;
    filter: invert(1) sepia(1);
}
.cart-img:active{
    transform: scale(.9);
}
.cartWidget-container:hover{
    cursor: pointer;
    filter: drop-shadow(0 0 5px var(--walnut-brown));
}
.cart-btn{
    background-color: transparent;
    border:none;
}

@media screen and (max-width: 1000px){
    .cartWidget-container{
        /* position: abs; */
        /* margin-left: 5rem; */
        right: 20%;
        top: 0;

    }

    .cartWidget-container h3{
        font-size: .8rem;
    }

    .cartWidget-container .number{
        padding: 3px;
    }

}