@import url('../../root.css');
@import url('../ItemCount/ItemCount.css');

.item{
    color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    width: 300px;
    height: 420px; /* ;D */
    padding: 12px;
    text-shadow: 1px 1px 5px #1117;
    transition: all .3s;
    background: linear-gradient(to bottom, var(--alpha-caramel),var(--walnut-brown), #fff3);
    box-shadow: inset 0 0 7px var(--walnut-brown);
    filter: drop-shadow(0 0 7px var(--eerie-black));
    text-decoration: none;
}
.item:hover{
    transform: scale(1.02);
    box-shadow: 0 0 8px var(--eerie-black);
    color: #eee;
}

.item h2{
    font-size: 1.7rem;
}
.item h3{
    font-size: 1.2rem;
}

.item img{
    width: 250px;
    box-shadow:  0 0 7px #000a;
    border-radius: 5px;
}
.btn-container .btn{
    padding: 7px;
    border: none;
    background-color: #fff6;
    color: #111;
}

.btn:hover{
    background-color: #9994;
}


@media screen and (max-width: 600px){
    .item{
        width: 100%;
        height: fit-content;
        min-height: 250px;
        border-radius: 0;
    }
    
    .item img{
        width: 90%;
    }
    .item:active{
        background-color: #fff5 ;
        box-shadow:  0 4px 20px #111a;
    }
    .item:hover{
        transform: scale(1);
        box-shadow: inset 0 0 7px var(--walnut-brown);
    }
    
}