@import url('../../root.css');
@import url('../../root.css');

.item{
    color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 530px;
    padding: 12px;
    gap: 7px;
    text-shadow: 1px 1px 5px #1117;
    transition: all .3s;
    border-radius: 25px;
    background: linear-gradient(to bottom, var(--alpha-caramel), var(--walnut-brown));
    box-shadow: inset 0 0 7px var(--walnut-brown);
    filter: drop-shadow(0 0 7px var(--eerie-black));
    
}

.item p{
    font-size: 1rem;
}
.item img{
    width: 300px;
    box-shadow: 0 0 7px #000a;
    border-radius: 15px;
}
.item:hover{
    cursor: pointer;
    transform: scale(1.02);
    box-shadow: 0 0 12px var(--eerie-black);

}
.btn-container .btn{
    padding: 7px;
    border: none;
    background-color: #fff6;
    color: #111;
}

.btn:hover{
    background-color: #9994;
}


@media screen and (max-width: 600px){
    .item{
        width: 100%;
        height: fit-content;
        min-height: 250px;
        border-radius: 0;
    }
    
    .item img{
        width: 90%;
    }
    .item:active{
        background-color: #fff5 ;
        box-shadow:  0 4px 20px #111a;
    }
    .item:hover{
        transform: scale(1);
        box-shadow: inset 0 0 7px var(--walnut-brown);
    }
    
}