.checkout-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.checkout-container h1{
    font-size: 3rem;
}

.fillScreen{
    height: 50vmin;
}

@media screen and (max-width: 1000px){
    .orderView h1{
       font-size: 2rem;
    }

}