@import url('../../root.css');

/* Boostrap */
nav{
    background-color: var(--eerie-black);

}
.container{
    height: fit-content;
}
.nav-link:hover{
    color: var(--chamoisee);
}
.navbar-nav .nav-link.active{
    color: var(--caramel);
}

/* ------------- */
.brand-div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.brand-div .img-logo{
    width: 3rem;
    margin: 1rem;
}

.brand-div h2{
    display: inline;
    text-shadow: 0 2px 7px black;
    font-size: 2rem;
}

@media screen and (max-width: 600px) {
    .brand-div h2{
        display: inline;
        text-shadow: 0 2px 7px black;
        font-size: 1.3rem;
    }

    .brand-div .img-logo{
        width: 2.7rem;
        margin: .5rem;
    }
}