.brand-div{
    display: flex;
    align-items: center;
}

.brand-div .img-cart{
    width: 3rem;
    margin: 1rem;
}

.brand-div h2{
    display: inline;
    text-shadow: 0 2px 7px black;
    font-size: 2rem;
}