@import url('../../root.css');

/* Boostrap */
nav{
    background-color: var(--eerie-black);
    box-shadow: 0 0 7px var(--black);
}
.container{
    height: fit-content;
}
.nav-link:hover{
    color: var(--chamoisee);

}
.active{
    color: var(--caramel);
    text-decoration: none;
    vertical-align: middle;
}


/* ------------- */
.brand-div{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #eee;
    text-shadow: 0 2px 7px black;
    font-size: 2rem;

}
.brand-div:hover{
    color: #eee;
}

.brand-div .img-logo{
    width: 3rem;
    margin: 1rem;
}

@media screen and (max-width: 600px) {
    .brand-div h2{
        display: inline;
        text-shadow: 0 2px 7px black;
        font-size: 1.3rem;
    }

    .brand-div .img-logo{
        width: 10vmin;
        margin: .5rem;
    }
}