@import url('../../root.css');

footer{
    background-color: var(--eerie-black);
    height: fit-content;
    padding-top: 3rem;
    padding-bottom: 1rem;
    color: #999;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;

}
footer section aside ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 7px;
}
footer section aside ul li a{
    display: flex;
    gap: 7px;
}

footer section aside h4{
    text-align: right;
    font-size: 1.4rem;
    margin-bottom: 1rem;
    text-shadow: 1px 1px 3px #eee3;
}
footer img{
    width: 25px;
    height: 25px;
    border-radius: 100%;
    filter: invert(1);
    opacity: .6;

}

footer section{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
}

footer section aside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}


footer a{
    color: #666;
}

footer a:hover{
    color: var(--caramel);
    opacity: .9;
}

footer > a{
    font-size: .9rem;
}

.redes{
    position: relative;
    display: flex;
    align-items: flex-end;
}



@media screen and (max-width: 600px) {
    footer section{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        font-size: 1.1rem;
    }
    
    footer section aside{
        flex-direction: column;
        align-items: center;

    }

    .redes, .contacto{
        align-items: flex-start;
        padding: 1rem;
    }

    .contacto:first-of-type h4{
        align-self: center;
    }

    .redes h4{display: none}

    .redes .redes__ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 0;
        align-items: center;
        gap: 2rem;
    }

    footer section aside ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }
}

