:root{
  --background: #a5a9b2;
}

.App {
  text-align: center;
  height: 100vh;
}


.App-header {
  background: linear-gradient(to bottom right, var(--background), #0001);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #222;
}



