/* variables */
:root{
    --background: #F7F3EDff;
  
    --light: #F7F3EDff;
    --black: #060100ff;
    --eerie-black: #1B1A14ff;
    --battleship-gray: #8C877Aff;
    --walnut-brown: #595647ff;
    --chamoisee: #937657ff;
    --caramel: #BA8554ff;
    
    --alpha-light: #F7F3ED40;
    --alpha-black: #06010040;
    --alpha-eerie-black: #1B1A1440;
    --alpha-battleship-gray: #8C877A40;
    --alpha-walnut-brown: #59564760;
    --alpha-chamoisee: #93765740;
    --alpha-caramel: #BA855440;
}
*::selection{
  background-color: #1117;
  color: #eee;
}

/* scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
  background-color: var(--battleship-gray);
}
/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--eerie-black); 
  border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #111;
}