.count-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7px;
    width: 200px;
    /* border: 1px solid red; */
}



.count-container .contador{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    margin: 0 auto;
    /* border: 1px solid red; */
}

.count-container .contador h3{
    width: 1rem;
    margin: .7rem;
    text-shadow: 0 0 7px var(--walnut-brown);
}

.count-container .contador button{
    font-weight: bolder;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    color: #333;
    background-color: #fff8;
    box-shadow: 0 0 5px black;
    border: none;
    border-radius: 100%;
    width: 25px;
    height: 25px;
}
.count-container button:hover{
    box-shadow: 0 0 5px black, inset 0 0 5px black;
}

.count-container .btn-addToCart{
    width: fit-content;
    margin: 0 auto;
    border: 1px solid red;
    padding: .6rem;
    border: none;
    color: #eee;
    text-shadow: 0 0 12px black;
    background-color: #fff5;
    box-shadow: inset 0 0 7px black;
    border-radius: 15px;
}
.count-container .btn-addToCart:hover{
    box-shadow: 0 0 2px black, inset 0 0 5px black;
}
.count-container .btn-addToCart:active{
    opacity: .9;
}
.count-container img{
    width: 2rem;
    margin-left: .5rem;
    filter: invert(1);
}